@font-face {
  font-family: 'HipstelveticaBold';
  src: url('/static/fonts/HipstelveticaBold.eot'); /* IE9 Compat Modes */
  src: url('/static/fonts/HipstelveticaBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/fonts/HipstelveticaBold.woff2') format('woff2'), /* Super Modern Browsers */
  url('/static/fonts/HipstelveticaBold.woff') format('woff'), /* Pretty Modern Browsers */
  url('/static/fonts/HipstelveticaBold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/static/fonts/HipstelveticaBold.svg#HipstelveticaBold') format('svg'); /* Legacy iOS */
}
