.landing {
  position: relative;
  z-index: 10;
  a, .nav-item a:not(.button), a.nav-item:not(.button) {
    color: $text-color;
    &:hover {
      color:rgba(0,0,0,0.5);
    }
  }
  .nav {
    padding: 0 2.5rem 0 3.25rem;
    width: 100%;
    position: absolute;
    left: 0;
    top: 2.75rem;

    @include mobile() {
      padding: 0 1rem;
      top:0;
      margin-top: 1rem;
      margin-bottom: 0;
      position: relative;
    }

    .nav-left, .nav-right {
      flex-basis: auto;
    }

    .nav-toggle {
      @include mobile() {
        margin-right:1rem;
      }
    }
    .nav-left {
      .nav-item {
        padding-left: 0;
        padding-right: 0;
        img {
          max-height: 1.25rem;
        }
      }
    }
    .brand {
      overflow: hidden;
      .logo {
        font-family: HipstelveticaBold;
        color: $brand-color-3;
        font-size: 2rem;
        margin-top: 7px;
        overflow: hidden;
        span {
          color: $brand-color-1;
        }
      }
    }
  }

  .right-side {
    position: relative;
    margin: 0;
    padding: 0;

    @include gradient-diagonal($background-light, darken($background-light, 10%)); //#38dbd1

    @include mobile() {
      display: none;
    }

    .overlay {
      @include overlay-base();
      z-index: 4;
      opacity: 0.25;
      background-image: url("/static/images/backgrounds/crissxcross.png");
    }

    .wt {
      z-index: 2;
      position: absolute;
      display: flex;
      top:3.6rem;
      left:3rem;
      .wt-logo {
        padding: 0;
        flex:none;
        width: 32px;
        height: 50px;
        img {
          height: 50px;
        }
      }
      .wt-text {
        span {
          background: rgba(0,0,0,0.65);
          color: white;
          padding: 3px 4px;
        }
        @include tablet-only() {
          display: none;
        }
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }

  .left-side {
    position: relative;
    padding-bottom: 0;
    margin: 0;
    background-color: white;


    @include fullhd() {
      width: 41%;
    }

    @include widescreen-only() {
      width: 50%;
    }

    @include desktop-only() {
      width: 50%;
    }

    @include tablet-only() {
      width: 80%;
    }

    @include mobile() {
      width: 100%;
      overflow: hidden;
    }

    .hero-body {
      padding: 2rem;
      @include mobile() {
        padding: 1rem;
      }
      .container {
        margin-top: 4rem;
        @include mobile() {
          margin-top: 0;
        }
        @include tablet-only() {
          margin-top: 8rem;
        }
      }
      .scroll-down {
        padding: 0 2.75rem;
        position: absolute;
        bottom: 2.75rem;
        left: 12px;
        display: none;
        a {
          font-weight: 600;
        }
        @include desktop() {
          display: block;
        }
      }
    }

    .title, .subtitle {
      margin-bottom: 3rem;
    }

    .action {
      position: relative;
      width: 130%;
      z-index: 5;

      @include tablet-only() {
        padding-bottom: 50%;
      }

      @include mobile() {
        width: 100%;
        padding-bottom: 60%;
      }

      .field {
        position: relative;
        z-index: 1;
        box-shadow: 0 40px 80px rgba(0, 0, 0, 0.15);
        border: 3px solid $brand-color-3!important;

        .control {
          margin-right: 0!important;
          position: relative;
          z-index: 999;
          .hidden {
            display: none;
          }
          &:first-child {
            width: 110%;
          }
        }

        .button.is-success {
          background-color: $brand-color-2!important;
        }

        &:after {
          content: "";
          position: absolute;
          height: 3px;
          width: 300px;
          background-color: $brand-color-3;
          top: 50%;
          left: -300px;
          /*
          @include mobile() {
            width: 2000px;
          }
          @include tablet-only {
            width: 2000px;
          }
          */
        }
      }

      .line-art {
        position: absolute;
        max-width: 200%;
        bottom: 22px;
        pointer-events: none;

        .line-art-bottom {
          position: relative;
        }

        .line-art-top {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          z-index:3;
        }

        @include fullhd() {
          width: 180%;
          left: 55.4%;
        }

        @include widescreen-only() {
          width: 140%;
          left: 63%;
        }

        @include desktop-only() {
          width: 140%;
          left: 63%;
        }

        @include tablet-only() {
          width: 140%;
          left: -30%;
          bottom: auto;
          top:37px;
        }

        @include mobile() {
          width: 200%;
          left: -62.5%;
          bottom: auto;
          top:37px;
        }
      }

      .input.is-large, .button.is-large {
        font-size: 2rem;
        border:none;
        z-index: 1;

        @include mobile() {
          font-size: 1.35rem;
        }
      }

      .button {
        &:hover {
          background-color: $brand-color-2;
          color: white;
        }
      }
    }
    .social {
      margin-top: 3.5rem;
      @include mobile() {
        margin-top: 1.5rem;
      }
      .columns {
        width: 50%;
        @include mobile() {
          width:100%;
        }
      }
    }
  }
}

.how {
  background-color: darken($brand-color-3, 10%);
  position: relative;
  z-index: 9;
  &:after {
    @include content-full();
    background-image: url("/static/images/backgrounds/diamond-upholstery.png");
    opacity: 0.1;
    pointer-events: none;
    @include box-shadow(1px, 1px, 80px, rgba(0,0,0,1), true);
  }
  .hero-body {
    padding: 6rem 1.5rem;
  }
  .section-title {
    margin-bottom: 2.5rem;
  }
  .property-wrap {
    margin: auto;
    position: relative;
    width: 500px;
    @include until($desktop) {
      width: 97%;
    }
    .property {
      position: relative;
      background-color: white;
      @include rounded(5px);
      @include box-shadow(3px, 3px, 60px, rgba(0,0,0,0.25));
      @include until($desktop) {
        margin-bottom: 1.5rem;
      }
      .photo {
        position: relative;
        background-size:cover;
        background-repeat: no-repeat;
        height: 400px;
        .img-meta {
          position: absolute;
          bottom: 0;
          left:0;
          width: 100%;
          @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.75), true);
          color:white;
          font-weight: 600;
          font-size: 1.5rem;
          @include until($desktop) {
            font-size: 1rem;
          }
          abbr {
            vertical-align: super;
            font-size: 75%;
          }
          .columns {
            padding: 1rem;
          }
          .price {
            span {
              opacity: 0.5;
              font-size: 65%;
            }
          }
        }
      }
      .meta {
        //padding: 1rem;
        .property-name {
          //margin-bottom: $margin-amount / 2;
          padding: 1rem;
        }
        .property-description {
          padding: 0 1rem;
          margin-bottom: 1rem;
        }
        .property-tags {
          padding: 1rem 1rem 0.5rem 1rem;
          background:hsl(0, 0%, 93%);
          .property-tags-title {
            font-weight: 600;
          }
          .tag {
            background-color: white;
          }
          .tag.is-primary {
            background-color: $brand-color-1;
          }
        }
        .action {
          padding: 1rem;
        }
        .scarce {
          @include until($tablet) {
            text-align: left!important;
          }
          span {
            font-weight: 600;
          }
          .spaces {
            span {
              color: $brand-color-2;
            }
          }
          .time {
            span {
              color: $brand-color-1;
            }
          }
        }
      }
    }
    .pt {
      position: absolute;
      @include until($desktop) {
        position: relative;
        margin-top: 0.5rem;
      }
      .pt-tip {
        flex: 0 0 200px;
        @include until($desktop) {
          flex: 100%;
        }
        .pt-title {
          color: $brand-color-1;
          font-weight: 600;
        }
        p {
          color: rgba(255, 255, 255, 0.8);
          a {
            color: rgba(255, 255, 255, 0.5);
            text-decoration: underline;
          }
        }
      }
      .line {
        position: relative;
        @include until($desktop) {
          display: none;
        }
        &:after {
          content: "";
          position: absolute;
          top:50%;
          left:0;
          width: 100%;
          height: 3px;
          background-color: $brand-color-1;
        }
      }
    }
    .pt-left {
      text-align: left;
      left: -250px;
      @include until($desktop) {
        left: auto;
        top: 0!important;
        right: 0!important;
        width: 100%!important;
      }
    }
    .pt-right {
      text-align: right;
      right: -250px;
      @include until($desktop) {
        right: auto;
        text-align: left;
        top: 0!important;
        left: 0!important;
        width: 100%!important;
      }
    }
    .pt-1 {
      //left: -250px;
      top: 20px;
      width: 300px;
    }
    .pt-2 {
      //left: -250px;
      top: 317px;
      width: 246px;
    }
    .pt-3 {
      //right: -250px;
      top: 306px;
      width: 300px;
    }
    .pt-4 {
      //right: -250px;
      top: 515px;
      width: 270px;
    }
    .pt-5 {
      //left: -250px;
      top: 624px;
      width: 248px;
    }
    .pt-6 {
      //right: -250px;
      top: 634px;
      width: 249px;
    }
  }
}

.faqs {
  position: relative;
  > .columns {
    flex-wrap: wrap;
    align-items: stretch;
  }
  .overlay {
    @include overlay-base();
    z-index: 4;
    opacity: 1;
    background-image: url('/static/images/backgrounds/cubes.png');
  }
  .section-title {
    color:rgba(0,0,0,0.06);
    position: absolute;
    transform: rotate(-5deg);
    font-size: 15vw;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    @include tablet-only() {
      display: none;
    }

    @include mobile() {
      display: none;
    }
  }
  .right-side {

    @include mobile() {
      display: none;
    }

    background-color: whitesmoke;
    position: relative;

    .hero.is-fullheight {
      height: 100%;
      .hero-inner {
        position: relative;
        z-index: 5;
        text-align: center;
        width: 100%;
        img {
          width: 240px;
        }
      }
    }
  }
  .left-side {
    position: relative;
    @include fullhd() {
      width: 59%;
    }

    @include widescreen-only() {
      width: 59%;
    }

    @include desktop-only() {
      width: 59%;
    }

    @include tablet-only() {
      width: 80%;
    }

    @include mobile() {
      width: 100%;
    }
    .hero-body {
      padding: 4rem 2rem 1rem 3rem;

      .columns {
        margin-bottom: 2rem;
      }

      .title {
        margin-bottom: 3rem;
      }

      .faq {
        h5 {
          margin-bottom: 1rem;
        }
        img {
          height: 64px;
          margin-bottom: 1rem;
        }
        p {
          margin-bottom: 1rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.footer {
  @include gradient-diagonal($background-light, darken($background-light, 10%)); //#38dbd1

  padding: 2rem;
  min-height: 720px;
  position: relative;
  box-shadow: inset 0 10px 50px rgba(16,142,147,0.3);

  @include until($desktop) {
    height: auto;
    padding: 3rem 2rem;
  }

  .overlay {
    @include overlay-base();
    z-index: 4;
    opacity: 0.25;
    background-image: url("/static/images/backgrounds/crissxcross.png");
  }

  .col-wrap {
    position: absolute;
    top:50%;
    left:0;
    width: 100%;
    margin-top: -178px;
    padding: 0 2rem;
    z-index: 5;
    @include until($desktop) {
      position: relative;
      top:auto;
      margin-top: 0;
      padding: 0;
    }
    > .columns {
      > .column {
        padding: 2rem;
        @include mobile() {
          padding: 2rem 1rem;
        }
        @include desktop-only() {
          padding: 2rem 1rem;
        }
        .box {
          @include animation();
          position: relative;
          border-radius: 0;
          z-index: 5;
          @include box-shadow(0, 15px, 20px, rgba(10, 10, 10, 0.1));
          border: 3px solid $brand-color-3;
          .title {
            color:$brand-color-3;
          }
          p {
            margin-bottom: 1rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
          &:hover {
            margin-top: -15px;
            @include box-shadow(0, 45px, 20px, rgba(10, 10, 10, 0.1));
          }
          &:after {
            content: "";
            position: absolute;
            top:20%;
            height:3px;
            background-color: $brand-color-3;
            width: 150px;
            left: -150px;
            z-index: -1;
          }
          .social {
            margin-top: 1rem;
            text-align: center;
            a {
              border: 3px solid $brand-color-2;
              .fa {
                color: $brand-color-2;
              }
              &:hover {
                background-color: $brand-color-2;
                .fa {
                  color: white;
                }
              }
            }
          }
        }
        .box-one {
          z-index: 10;
        }
        .box-two {
          z-index: 8;
        }
        .box-three {
          z-index: 7;
          &:before {
            content: "";
            position: absolute;
            top:20%;
            height:3px;
            background-color: $brand-color-3;
            width: 150px;
            right: -150px;
            z-index: -1;
            @include until($desktop) {
              display: none;
            }
          }
        }
      }
    }
  }
  .end-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: $brand-color-3;
    padding: 3rem 2rem;
    @include until($desktop) {
      position: relative;
      bottom:auto;
    }
    a {
      color: $brand-color-3;
      //background-color: rgba(255, 255, 255, 0.3);
      padding: 3px;
      border-bottom: 3px solid $brand-color-3;
    }
  }
}
