$brand-color-1: #00c5cd;
$brand-color-2: #f65484;
$brand-color-3: #432d61;

$background-light: #baf0f2;
$background-medium: #00c5cd;

$text-color: #363636;

$margin-amount: 30px;

$primary: $brand-color-1;
$info: $brand-color-2;
